.navigation{
    position: fixed;
    top: 0%;bottom: 0%;left: 0%;right: 0%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.8);
}

.navigation ul{
    padding: 0%;
    margin: 0%;
}

.navigation li{
    width: 10rem;
    background: red;
    list-style-type: none;
    margin-top: 2rem;
}

.navigation li:nth-child(1){
    margin-top: 0rem;
}

.navigation a{
    display: block;
    width: inherit;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #444;
    background: #FFF;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
}

.navigation a::before{
    margin-right: 1rem;
}

#nav-main-toggle{
    display: none;
}
#nav-main-toggle:checked + .site-header .navigation{
    display: flex;
}
#nav-toggle
{
    position: fixed;
    top: 5rem;
    right: 2rem;
    font-size: 2rem;
    z-index: 1;

}